PORT=
DATABASE_URL=
DIRECT_URL=
CLIENT_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
EMAIL=
EMAIL_APP_PASS=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
R2_ENDPOINT=
R2_BUCKET_NAME=
R2_HOSTNAME=
R2_ACCESS_KEY=
R2_SECRET_ACCESS_KEY=
R2_SIGNED_URL_EXPIRY_HOUR=